@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 4% 50%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --spice: 0, 0%, 99%;
    --spiceLighter: 0, 0%, 50%;

    --selection-bg: black;
    --selection-color: white;

    --sh-class: #354150;
    --sh-identifier: #354150;
    --sh-sign: #354150;
    --sh-property: #ff5500;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;

    --sh-keyword: #ff0078;
    --sh-string: #028265;
    --sh-comment: #9ca3af;
  }
  .inline-code {
    @apply inline-block rounded-md bg-gray-100 px-0.5 py-0.5 text-sm not-italic before:content-['`'] after:content-['`'];
  }

  code {
    @apply whitespace-pre-wrap;
  }
  pre code {
    counter-reset: sh-line-number;
  }

  code .sh__line::before {
    counter-increment: sh-line-number 1;
    content: counter(sh-line-number);
    margin-right: 24px;
    text-align: right;
    color: #a4a4a4;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 210 40% 98%;

    --card: 240 4% 70%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 72.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --spice: 0, 0%, 5.2%;
    --spiceLighter: 0, 0%, 10%;

    --bb: #000000;

    --selection-bg: #b3b3b3;
    --selection-color: white;

    --sh-class: #bcbcbc;
    --sh-identifier: #bcbcbc;
    --sh-sign: #bcbcbc;
    --sh-property: #ff8c52;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;

    --sh-keyword: #ff55a4;
    --sh-string: #028265;
    --sh-comment: #9ca3af84;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}
