/* .background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../public/background/bg22.svg');
  background-size: cover;
  background-position: center;
  opacity: 0.03;
  z-index: -1;
}

.dark .background::before {
  background-image: url('../public/background/bg22-inv.svg');
  opacity: 0.01; 
  z-index: -1;
} */
